<nav class="navbar teal">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/posts">
              Linha do Tempo <span class="sr-only">(current)</span>
            </a>
          </li>
          <li routerLinkActive="active"><a routerLink="/adicionar">Novo Post</a></li>    
          <li routerLinkActive="active"><a href="#">Perfil</a></li>    
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">alanfirmiano</a></li>
        </ul>
      </div>
    </div>
  </nav>