.teal{
    color: white;
    background-color: rgb(0,128,129);
}
a {
    color: white;
}
ul li a{
    color:white;
}
.active,
ul li a .active,
ul li a:hover,
ul li a:focus{
    background-color: rgb(1, 87, 87);
}