.black{
    color:white;
    background-color: rgb(24, 24, 24);
}

.myText{
    color: black;

}

.like{
    color:rgb(34, 55, 241);
}
.remove{
    color:red;
}

.teal{
    color: white;
    background-color: rgb(0,128,129);
}
.data{
    color: rgb(89, 174, 243);
}
.img{
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
}